// Colors

$clr-primary: hsl(171, 66%, 44%);
$clr-secondary: hsl(233, 100%, 69%);

$clr-base: hsl(201, 11%, 66%);
$clr-base-dk: hsl(210, 10%, 33%);

$clr-ntrl-min: hsl(0, 0%, 0%);
$clr-ntrl-max: hsl(0, 0%, 100%);

// Fonts

$ff-base: 'Bai Jamjuree', sans-serif;
